.custom-vbox{
    -fx-alignment: center;
}

.custom-hbox{
    -fx-alignment: center;
    -fx-padding:10 0 10 0;
}

/*チェックボックスの設定*/
.custom-task{
    -fx-background-color  : white;
    -fx-pref-height: 50px;
    -fx-pref-width: 500px;
    -fx-background-radius: 10px;
    -fx-border-radius: 10px;
    -fx-border-color: rgb(64, 61, 61);
}

/*チェックボックスのボックスの設定*/
.custom-task > .box {
    -fx-background-color  : white;
    -fx-background-radius: 50px;
    -fx-background-size: 50px;
    -fx-border-color: Black;
    -fx-border-radius: 50px;
}



/*チェックボックスのチェックされたときのボックスの設定*/
.custom-task:selected > .box{
    -fx-background-color : rgb(102, 102, 240);
    -fx-border-width: 1px;
}

/*　チェックボックスのボックス内のチェックの設定 */ 
.custom-task:selected > .box > .mark{
    -fx-background-color: white;
}

/*タスク追加ボタンの設定*/
.custom-taskAddingButton {
    -fx-background-color: transparent;
    -fx-border-color: transparent; /* 枠線の色を透明に設定 */
}

.custom-taskAddingButton:hover {
    -fx-background-color: lightgray; /* ホバー時の背景色を透明に設定 */
}

.custom-taskAddingButton:pressed {
    -fx-background-color: rgb(145, 145, 145); /* クリック時の背景色を設定 */
}

.custom-taskAddingButton:focused {
    -fx-border-color: transparent;
}

/*タスク追加フィールドの設定*/
.custom-taskAddingField {
    -fx-border-color: transparent; /* 枠線の色を透明に設定 */
    -fx-background-color: transparent; /* 背景色を透明に設定 */
    -fx-focus-color: transparent; /* フォーカス時の枠線を透明に設定 */
}

.custom-taskAddingField:focused {
    -fx-border-color: transparent; /* フォーカス時の枠線を透明に設定 */
    -fx-background-color: transparent; /* フォーカス時の背景色を透明に設定 */
    -fx-focus-color: transparent; /* フォーカス時の枠線を透明に設定 */
}

/*タスク追加Hboxの設定*/
.custom-taskAddingLayout{
    -fx-border-color: black; /* 枠線の色を設定 */
    -fx-border-width: 1; /* 枠線の幅を設定 */
    -fx-padding: 1; /* 内側の余白を設定 */
    -fx-background-color: white; /* 背景色を設定 */
    -fx-alignment: center;
}